In [1]:
import numpy as np
import pandas as pd

# data visualisation
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from sklearn import metrics

# sets matplotlib to inline
%matplotlib inline  

# importing LogisticRegression for Test and Train
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("train.csv")

In [3]:
df1= pd.read_csv("test.csv")

In [4]:
df.head()

   ID   Age BusinessTravel  ...  ProjectsContributed Attrition  YearsAtCompany
0   1  44.0  Travel_Rarely  ...                 15.0         1              20
1   2  25.0     Non-Travel  ...                  7.0         0               6
2   3  57.0  Travel_Rarely  ...                  3.0         0               1
3   4  47.0  Travel_Rarely  ...                 14.0         0              17
4   5  22.0  Travel_Rarely  ...                  5.0         1               1

[5 rows x 44 columns]

In [5]:
df.shape

(1230, 44)

In [6]:
df.dtypes

ID                            int64
Age                         float64
BusinessTravel               object
DailyRate                   float64
Department                   object
DistanceFromHome              int64
Gender                       object
HourlyRate                  float64
JobInvolvement              float64
JobLevel                      int64
JobRole                      object
JobSatisfaction             float64
MaritalStatus                object
MonthlyIncome                 int64
MonthlyRate                 float64
NumCompaniesWorked          float64
Over18                       object
OverTime                     object
PercentSalaryHike           float64
PerformanceRating             int64
CommunicationSkill            int64
Behaviour                     int64
Experience                    int64
LvlGrownInOrg               float64
ContributionIndex             int64
TechnicalExpertise            int64
RelationshipSatisfaction    float64
StandardHours                 int64
StockOptionLevel              int64
TotalWorkingYears           float64
TrainingTimesLastYear         int64
Education                   float64
EducationField               object
EmployeeCount                 int64
EmployeeNumber                int64
EnvironmentSatisfaction     float64
WorkLifeBalance             float64
YearsInCurrentRole            int64
YearsSinceLastPromotion     float64
YearsWithCurrManager          int64
FormalWarnings                int64
ProjectsContributed         float64
Attrition                     int64
YearsAtCompany                int64
dtype: object

In [7]:
df.isnull().any()

ID                          False
Age                          True
BusinessTravel              False
DailyRate                    True
Department                  False
DistanceFromHome            False
Gender                      False
HourlyRate                   True
JobInvolvement               True
JobLevel                    False
JobRole                     False
JobSatisfaction              True
MaritalStatus               False
MonthlyIncome               False
MonthlyRate                  True
NumCompaniesWorked           True
Over18                      False
OverTime                    False
PercentSalaryHike            True
PerformanceRating           False
CommunicationSkill          False
Behaviour                   False
Experience                  False
LvlGrownInOrg                True
ContributionIndex           False
TechnicalExpertise          False
RelationshipSatisfaction     True
StandardHours               False
StockOptionLevel            False
TotalWorkingYears            True
TrainingTimesLastYear       False
Education                    True
EducationField              False
EmployeeCount               False
EmployeeNumber              False
EnvironmentSatisfaction      True
WorkLifeBalance              True
YearsInCurrentRole          False
YearsSinceLastPromotion      True
YearsWithCurrManager        False
FormalWarnings              False
ProjectsContributed          True
Attrition                   False
YearsAtCompany              False
dtype: bool

In [8]:
df.corr()

                                ID       Age  ...  Attrition  YearsAtCompany
ID                        1.000000  0.015720  ...   0.044866        0.040994
Age                       0.015720  1.000000  ...  -0.160550        0.310166
DailyRate                -0.030214  0.002536  ...  -0.051192       -0.031991
DistanceFromHome          0.014605  0.008483  ...   0.075607        0.010036
HourlyRate               -0.033243  0.024430  ...  -0.014965       -0.016040
JobInvolvement           -0.024873  0.029071  ...  -0.097837       -0.012653
JobLevel                 -0.004617  0.517029  ...  -0.170628        0.521521
JobSatisfaction          -0.038273 -0.000833  ...  -0.120537       -0.019675
MonthlyIncome            -0.001927  0.504238  ...  -0.162073        0.503314
MonthlyRate              -0.031167  0.036105  ...  -0.002527       -0.016200
NumCompaniesWorked        0.002768  0.290483  ...   0.042284       -0.119532
PercentSalaryHike        -0.017022  0.016904  ...  -0.029048       -0.028703
PerformanceRating         0.020456  0.001885  ...  -0.009508        0.004768
CommunicationSkill        0.009588 -0.017213  ...  -0.014986       -0.007373
Behaviour                      NaN       NaN  ...        NaN             NaN
Experience                0.057216  0.007375  ...  -0.001739       -0.012059
LvlGrownInOrg            -0.019240  0.001538  ...   0.040906       -0.031272
ContributionIndex        -0.029765  0.002606  ...  -0.050966       -0.031942
TechnicalExpertise        0.030511  0.082553  ...  -0.135905        0.423362
RelationshipSatisfaction  0.073863  0.057323  ...  -0.044373       -0.001445
StandardHours                  NaN       NaN  ...        NaN             NaN
StockOptionLevel          0.000090  0.034997  ...  -0.121832        0.004027
TotalWorkingYears         0.005274  0.684627  ...  -0.177852        0.615596
TrainingTimesLastYear     0.008947 -0.025640  ...  -0.066388        0.019682
Education                 0.012013  0.202163  ...  -0.028173        0.048833
EmployeeCount                  NaN       NaN  ...        NaN             NaN
EmployeeNumber           -0.010790  0.009873  ...  -0.009269       -0.003349
EnvironmentSatisfaction  -0.003491  0.025142  ...  -0.109558        0.016776
WorkLifeBalance          -0.028780 -0.006723  ...  -0.059899        0.019566
YearsInCurrentRole        0.041753  0.217002  ...  -0.158911        0.753105
YearsSinceLastPromotion   0.047923  0.223789  ...  -0.027679        0.603648
YearsWithCurrManager      0.032228  0.207597  ...  -0.155808        0.767825
FormalWarnings                 NaN       NaN  ...        NaN             NaN
ProjectsContributed      -0.015767 -0.017724  ...  -0.034243       -0.036785
Attrition                 0.044866 -0.160550  ...   1.000000       -0.139203
YearsAtCompany            0.040994  0.310166  ...  -0.139203        1.000000

[36 rows x 36 columns]

In [9]:
df=df.fillna(df.mean())

In [10]:
df1=df1.fillna(df1.mean())

In [11]:
df.isnull().values.any()

False

In [12]:
df.isnull().sum().sum()

0

In [13]:
df.corr()

                                ID       Age  ...  Attrition  YearsAtCompany
ID                        1.000000  0.015709  ...   0.044866        0.040994
Age                       0.015709  1.000000  ...  -0.160537        0.308893
DailyRate                -0.030198  0.002536  ...  -0.051188       -0.031989
DistanceFromHome          0.014605  0.008483  ...   0.075607        0.010036
HourlyRate               -0.033235  0.024418  ...  -0.014932       -0.016021
JobInvolvement           -0.024856  0.029057  ...  -0.097830       -0.012652
JobLevel                 -0.004617  0.516879  ...  -0.170628        0.521521
JobSatisfaction          -0.038251 -0.000831  ...  -0.120280       -0.019669
MonthlyIncome            -0.001927  0.504231  ...  -0.162073        0.503314
MonthlyRate              -0.031161  0.036068  ...  -0.002527       -0.016200
NumCompaniesWorked        0.002768  0.290353  ...   0.042281       -0.119526
PercentSalaryHike        -0.017011  0.016891  ...  -0.029046       -0.028700
PerformanceRating         0.020456  0.001885  ...  -0.009508        0.004768
CommunicationSkill        0.009588 -0.017213  ...  -0.014986       -0.007373
Behaviour                      NaN       NaN  ...        NaN             NaN
Experience                0.057216  0.007371  ...  -0.001739       -0.012059
LvlGrownInOrg            -0.019227  0.001537  ...   0.040903       -0.031268
ContributionIndex        -0.029765  0.002606  ...  -0.050966       -0.031942
TechnicalExpertise        0.030511  0.082497  ...  -0.135905        0.423362
RelationshipSatisfaction  0.073859  0.057281  ...  -0.044369       -0.001445
StandardHours                  NaN       NaN  ...        NaN             NaN
StockOptionLevel          0.000090  0.034997  ...  -0.121832        0.004027
TotalWorkingYears         0.005271  0.683159  ...  -0.177839        0.615482
TrainingTimesLastYear     0.008947 -0.025640  ...  -0.066388        0.019682
Education                 0.012010  0.201758  ...  -0.028113        0.048830
EmployeeCount                  NaN       NaN  ...        NaN             NaN
EmployeeNumber           -0.010790  0.009872  ...  -0.009269       -0.003349
EnvironmentSatisfaction  -0.003491  0.025116  ...  -0.109550        0.016744
WorkLifeBalance          -0.028766 -0.006717  ...  -0.059894        0.019558
YearsInCurrentRole        0.041753  0.216838  ...  -0.158911        0.753105
YearsSinceLastPromotion   0.047875  0.223647  ...  -0.027677        0.603641
YearsWithCurrManager      0.032228  0.207540  ...  -0.155808        0.767825
FormalWarnings                 NaN       NaN  ...        NaN             NaN
ProjectsContributed      -0.015763 -0.017716  ...  -0.034240       -0.036770
Attrition                 0.044866 -0.160537  ...   1.000000       -0.139203
YearsAtCompany            0.040994  0.308893  ...  -0.139203        1.000000

[36 rows x 36 columns]

In [14]:
df.drop(labels=['EmployeeCount','EmployeeNumber','StockOptionLevel','StandardHours','FormalWarnings','Behaviour'],axis=1,inplace=True)
df.head()

   ID   Age BusinessTravel  ...  ProjectsContributed Attrition  YearsAtCompany
0   1  44.0  Travel_Rarely  ...                 15.0         1              20
1   2  25.0     Non-Travel  ...                  7.0         0               6
2   3  57.0  Travel_Rarely  ...                  3.0         0               1
3   4  47.0  Travel_Rarely  ...                 14.0         0              17
4   5  22.0  Travel_Rarely  ...                  5.0         1               1

[5 rows x 38 columns]

In [15]:
df1.drop(labels=['EmployeeCount','EmployeeNumber','StockOptionLevel','StandardHours','FormalWarnings','Behaviour'],axis=1,inplace=True)
df1.head()

   ID  Age  ... YearsWithCurrManager  ProjectsContributed
0   1   27  ...                    2                 14.0
1   2   26  ...                    0                 30.0
2   3   50  ...                    2                  3.0
3   4   41  ...                    5                 11.0
4   5   28  ...                    2                 10.0

[5 rows x 36 columns]

In [16]:
df.shape

(1230, 38)

In [17]:
df.cov()

                                     ID  ...  YearsAtCompany
ID                        126177.500000  ...       87.417819
Age                           50.315722  ...       16.721484
DailyRate                  -4322.817181  ...      -77.391706
DistanceFromHome              42.029292  ...        0.488087
HourlyRate                  -238.924365  ...       -1.946548
JobInvolvement                -6.321484  ...       -0.054382
JobLevel                      -1.807160  ...        3.449606
JobSatisfaction              -14.996501  ...       -0.130329
MonthlyIncome              -3214.930024  ...    14191.520891
MonthlyRate               -79157.627137  ...     -695.491701
NumCompaniesWorked             2.454241  ...       -1.791132
PercentSalaryHike            -21.872899  ...       -0.623667
PerformanceRating              2.557364  ...        0.010074
CommunicationSkill             4.794548  ...       -0.062313
Experience                287586.287225  ...    -1024.386291
LvlGrownInOrg                -13.751488  ...       -0.377953
ContributionIndex         -29832.262815  ...     -541.051892
TechnicalExpertise           177.335232  ...       41.586438
RelationshipSatisfaction      28.224667  ...       -0.009330
TotalWorkingYears             14.541674  ...       28.696653
TrainingTimesLastYear          4.093572  ...        0.152196
Education                      4.363587  ...        0.299830
EnvironmentSatisfaction       -1.368275  ...        0.110899
WorkLifeBalance               -7.186839  ...        0.082581
YearsInCurrentRole            52.529292  ...       16.012814
YearsSinceLastPromotion       54.262501  ...       11.563000
YearsWithCurrManager          40.495932  ...       16.305958
ProjectsContributed          -47.849374  ...       -1.886349
Attrition                      5.847437  ...       -0.306617
YearsAtCompany                87.417819  ...       36.039777

[30 rows x 30 columns]

In [18]:
cat_col = df.select_dtypes(exclude=np.number)
cat_col

         BusinessTravel              Department  ... OverTime    EducationField
0         Travel_Rarely         Human Resources  ...       No           Medical
1            Non-Travel  Research & Development  ...       No     Life Sciences
2         Travel_Rarely                   Sales  ...       No         Marketing
3         Travel_Rarely  Research & Development  ...       No           Medical
4         Travel_Rarely  Research & Development  ...      Yes     Life Sciences
...                 ...                     ...  ...      ...               ...
1225      Travel_Rarely  Research & Development  ...      Yes  Technical Degree
1226      Travel_Rarely  Research & Development  ...       No     Life Sciences
1227      Travel_Rarely                   Sales  ...      Yes         Marketing
1228      Travel_Rarely  Research & Development  ...       No           Medical
1229  Travel_Frequently                   Sales  ...      Yes         Marketing

[1230 rows x 8 columns]

In [19]:
cat_col1 = df1.select_dtypes(exclude=np.number)
cat_col1

    BusinessTravel              Department  ... OverTime    EducationField
0    Travel_Rarely  Research & Development  ...       No           Medical
1    Travel_Rarely                   Sales  ...      Yes         Marketing
2    Travel_Rarely  Research & Development  ...       No           Medical
3    Travel_Rarely                   Sales  ...      Yes     Life Sciences
4    Travel_Rarely  Research & Development  ...       No           Medical
..             ...                     ...  ...      ...               ...
235  Travel_Rarely  Research & Development  ...      Yes           Medical
236  Travel_Rarely                   Sales  ...       No     Life Sciences
237     Non-Travel  Research & Development  ...       No     Life Sciences
238     Non-Travel  Research & Development  ...       No           Medical
239  Travel_Rarely  Research & Development  ...      Yes  Technical Degree

[240 rows x 8 columns]

In [20]:
for i in cat_col:
    print(df[i].value_counts())

Travel_Rarely        872
Travel_Frequently    232
Non-Travel           126
Name: BusinessTravel, dtype: int64
Research & Development    794
Sales                     380
Human Resources            56
Name: Department, dtype: int64
Male      740
Female    490
Name: Gender, dtype: int64
Sales Executive              279
Research Scientist           236
Laboratory Technician        209
Manufacturing Director       121
Healthcare Representative    115
Manager                       84
Sales Representative          71
Research Director             68
Human Resources               47
Name: JobRole, dtype: int64
Married     573
Single      384
Divorced    273
Name: MaritalStatus, dtype: int64
Y    1230
Name: Over18, dtype: int64
No     884
Yes    346
Name: OverTime, dtype: int64
Life Sciences       507
Medical             382
Marketing           132
Technical Degree    114
Other                72
Human Resources      23
Name: EducationField, dtype: int64

In [21]:
numerical_col = df.select_dtypes(include=np.number)
numerical_col

        ID   Age  DailyRate  ...  ProjectsContributed  Attrition  YearsAtCompany
0        1  44.0     1376.0  ...                 15.0          1              20
1        2  25.0      675.0  ...                  7.0          0               6
2        3  57.0      210.0  ...                  3.0          0               1
3        4  47.0     1180.0  ...                 14.0          0              17
4        5  22.0      391.0  ...                  5.0          1               1
...    ...   ...        ...  ...                  ...        ...             ...
1225  1226  29.0      806.0  ...                 20.0          1               7
1226  1227  41.0      582.0  ...                  9.0          0              20
1227  1228  36.0     1456.0  ...                 15.0          1               2
1228  1229  23.0      885.0  ...                 15.0          0               3
1229  1230  31.0      754.0  ...                 11.0          1              10

[1230 rows x 30 columns]

In [22]:
numerical_col1 = df1.select_dtypes(include=np.number)
numerical_col1

      ID  Age  ...  YearsWithCurrManager  ProjectsContributed
0      1   27  ...                     2                 14.0
1      2   26  ...                     0                 30.0
2      3   50  ...                     2                  3.0
3      4   41  ...                     5                 11.0
4      5   28  ...                     2                 10.0
..   ...  ...  ...                   ...                  ...
235  236   59  ...                     0                 16.0
236  237   37  ...                     3                 13.0
237  238   37  ...                     0                 10.0
238  239   44  ...                     2                  7.0
239  240   28  ...                     2                 28.0

[240 rows x 28 columns]

In [23]:
for i in numerical_col:
    print(i)

ID
Age
DailyRate
DistanceFromHome
HourlyRate
JobInvolvement
JobLevel
JobSatisfaction
MonthlyIncome
MonthlyRate
NumCompaniesWorked
PercentSalaryHike
PerformanceRating
CommunicationSkill
Experience
LvlGrownInOrg
ContributionIndex
TechnicalExpertise
RelationshipSatisfaction
TotalWorkingYears
TrainingTimesLastYear
Education
EnvironmentSatisfaction
WorkLifeBalance
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager
ProjectsContributed
Attrition
YearsAtCompany

In [24]:
df.columns.shape

(38,)

In [25]:
one_hot_categorical_variables = pd.get_dummies(cat_col)

In [26]:
one_hot_categorical_variables1 = pd.get_dummies(cat_col1)

In [27]:
one_hot_categorical_variables.head()

   BusinessTravel_Non-Travel  ...  EducationField_Technical Degree
0                          0  ...                                0
1                          1  ...                                0
2                          0  ...                                0
3                          0  ...                                0
4                          0  ...                                0

[5 rows x 29 columns]

In [28]:
df = pd.concat([numerical_col,one_hot_categorical_variables],sort=False,axis=1)
df.head()

   ID   Age  ...  EducationField_Other  EducationField_Technical Degree
0   1  44.0  ...                     0                                0
1   2  25.0  ...                     0                                0
2   3  57.0  ...                     0                                0
3   4  47.0  ...                     0                                0
4   5  22.0  ...                     0                                0

[5 rows x 59 columns]

In [29]:
df1 = pd.concat([numerical_col1,one_hot_categorical_variables1],sort=False,axis=1)
df1.head()

   ID  Age  ...  EducationField_Other  EducationField_Technical Degree
0   1   27  ...                     0                                0
1   2   26  ...                     0                                0
2   3   50  ...                     0                                0
3   4   41  ...                     0                                0
4   5   28  ...                     0                                0

[5 rows x 57 columns]

In [30]:
df1.shape

(240, 57)

In [31]:
x = df.drop(columns=['Attrition','YearsAtCompany'])
y =df["Attrition"]

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=12)
X_train = sc.fit_transform(x_train)
X_test = sc.transform(x_test)

# **Logistic Regression**

In [34]:

logreg = LogisticRegression()
logreg.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
train_Pred = logreg.predict(X_test)
train_Pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0])

In [36]:
train_prob = logreg.predict_proba(X_test)
train_prob

array([[9.55262945e-01, 4.47370550e-02],
       [9.89967062e-01, 1.00329379e-02],
       [6.90611048e-01, 3.09388952e-01],
       [9.89220078e-01, 1.07799222e-02],
       [9.83124862e-01, 1.68751376e-02],
       [8.50406639e-01, 1.49593361e-01],
       [9.25179221e-01, 7.48207785e-02],
       [9.56128692e-01, 4.38713083e-02],
       [9.80595981e-01, 1.94040194e-02],
       [9.01449422e-01, 9.85505781e-02],
       [7.81969360e-01, 2.18030640e-01],
       [7.74122833e-01, 2.25877167e-01],
       [9.67441395e-01, 3.25586054e-02],
       [9.41300516e-01, 5.86994839e-02],
       [9.97120218e-01, 2.87978234e-03],
       [9.76831552e-01, 2.31684481e-02],
       [9.85856073e-01, 1.41439269e-02],
       [9.78497955e-01, 2.15020449e-02],
       [2.82384780e-01, 7.17615220e-01],
       [9.32116561e-01, 6.78834394e-02],
       [1.51041070e-01, 8.48958930e-01],
       [9.77959102e-01, 2.20408984e-02],
       [9.97535978e-01, 2.46402241e-03],
       [6.57344348e-01, 3.42655652e-01],
       [8.63371097e-01, 1.36628903e-01],
       [8.40634681e-01, 1.59365319e-01],
       [9.32372748e-01, 6.76272523e-02],
       [6.85114791e-01, 3.14885209e-01],
       [9.53374989e-01, 4.66250114e-02],
       [9.85733246e-01, 1.42667536e-02],
       [9.50668275e-01, 4.93317253e-02],
       [8.24796397e-01, 1.75203603e-01],
       [9.95352350e-01, 4.64764962e-03],
       [9.63043280e-01, 3.69567202e-02],
       [3.83640938e-01, 6.16359062e-01],
       [2.51649205e-01, 7.48350795e-01],
       [6.30693426e-01, 3.69306574e-01],
       [9.87472284e-01, 1.25277163e-02],
       [7.32284441e-01, 2.67715559e-01],
       [8.70483777e-01, 1.29516223e-01],
       [3.53976955e-01, 6.46023045e-01],
       [8.04114772e-01, 1.95885228e-01],
       [9.99190113e-01, 8.09886553e-04],
       [9.06044702e-01, 9.39552982e-02],
       [7.66116502e-01, 2.33883498e-01],
       [7.62974617e-01, 2.37025383e-01],
       [1.65306627e-01, 8.34693373e-01],
       [5.70926472e-01, 4.29073528e-01],
       [7.97838840e-01, 2.02161160e-01],
       [4.80864378e-01, 5.19135622e-01],
       [9.97175556e-01, 2.82444437e-03],
       [8.16740090e-01, 1.83259910e-01],
       [9.25535932e-01, 7.44640676e-02],
       [9.65827610e-01, 3.41723895e-02],
       [9.96032484e-01, 3.96751603e-03],
       [2.46381780e-01, 7.53618220e-01],
       [8.47699082e-01, 1.52300918e-01],
       [9.46759264e-01, 5.32407360e-02],
       [9.29363270e-01, 7.06367301e-02],
       [8.76333010e-01, 1.23666990e-01],
       [5.55190859e-01, 4.44809141e-01],
       [9.70492532e-01, 2.95074677e-02],
       [9.39546642e-01, 6.04533583e-02],
       [9.57586022e-01, 4.24139780e-02],
       [9.88528088e-01, 1.14719123e-02],
       [9.89212605e-01, 1.07873951e-02],
       [9.43806815e-01, 5.61931852e-02],
       [9.99092994e-01, 9.07005543e-04],
       [8.13018710e-01, 1.86981290e-01],
       [6.90464277e-01, 3.09535723e-01],
       [8.26299079e-01, 1.73700921e-01],
       [9.12592336e-01, 8.74076636e-02],
       [9.95863492e-01, 4.13650834e-03],
       [9.73278663e-01, 2.67213368e-02],
       [9.64413303e-01, 3.55866972e-02],
       [7.42076913e-01, 2.57923087e-01],
       [9.83804107e-01, 1.61958928e-02],
       [6.43283282e-01, 3.56716718e-01],
       [8.82004574e-01, 1.17995426e-01],
       [9.76921708e-01, 2.30782922e-02],
       [8.31544110e-01, 1.68455890e-01],
       [9.63508690e-01, 3.64913104e-02],
       [9.88981298e-01, 1.10187022e-02],
       [8.57521582e-01, 1.42478418e-01],
       [9.75247036e-01, 2.47529639e-02],
       [9.90508432e-01, 9.49156804e-03],
       [9.94183651e-01, 5.81634877e-03],
       [9.94306554e-01, 5.69344596e-03],
       [8.81330113e-01, 1.18669887e-01],
       [9.87210258e-01, 1.27897425e-02],
       [1.18060116e-01, 8.81939884e-01],
       [2.30154063e-01, 7.69845937e-01],
       [8.22236991e-01, 1.77763009e-01],
       [9.91573495e-01, 8.42650531e-03],
       [9.21952775e-01, 7.80472253e-02],
       [8.37287413e-01, 1.62712587e-01],
       [9.12159395e-01, 8.78406048e-02],
       [4.63920855e-01, 5.36079145e-01],
       [9.82727477e-01, 1.72725226e-02],
       [9.82986721e-01, 1.70132790e-02],
       [9.53693563e-01, 4.63064374e-02],
       [2.51215838e-01, 7.48784162e-01],
       [8.59831868e-01, 1.40168132e-01],
       [9.76546390e-01, 2.34536103e-02],
       [9.70071002e-01, 2.99289985e-02],
       [9.27243459e-01, 7.27565414e-02],
       [9.92785672e-01, 7.21432779e-03],
       [9.67684604e-01, 3.23153962e-02],
       [9.61176842e-01, 3.88231578e-02],
       [8.68774267e-01, 1.31225733e-01],
       [6.68259882e-01, 3.31740118e-01],
       [9.66856673e-01, 3.31433269e-02],
       [9.63268191e-01, 3.67318093e-02],
       [9.63387692e-01, 3.66123083e-02],
       [9.89996637e-01, 1.00033630e-02],
       [9.95485826e-01, 4.51417388e-03],
       [9.36310676e-01, 6.36893241e-02],
       [9.86523770e-01, 1.34762301e-02],
       [6.75147086e-01, 3.24852914e-01],
       [9.99269600e-01, 7.30400322e-04],
       [9.98846553e-01, 1.15344652e-03],
       [3.99793906e-01, 6.00206094e-01],
       [7.19588375e-01, 2.80411625e-01],
       [9.98083889e-01, 1.91611118e-03],
       [9.29950879e-01, 7.00491211e-02],
       [4.25672032e-01, 5.74327968e-01],
       [9.97829765e-01, 2.17023513e-03],
       [9.21669701e-01, 7.83302990e-02],
       [9.92496360e-01, 7.50363981e-03],
       [9.68462361e-01, 3.15376392e-02],
       [9.41385729e-01, 5.86142707e-02],
       [9.87409882e-01, 1.25901180e-02],
       [9.57107023e-01, 4.28929773e-02],
       [3.63528129e-01, 6.36471871e-01],
       [8.34200507e-01, 1.65799493e-01],
       [2.23747128e-01, 7.76252872e-01],
       [9.89014829e-01, 1.09851712e-02],
       [9.94044699e-01, 5.95530140e-03],
       [9.98959353e-01, 1.04064682e-03],
       [9.14918170e-01, 8.50818303e-02],
       [2.89271280e-01, 7.10728720e-01],
       [9.32626853e-01, 6.73731474e-02],
       [9.25809734e-01, 7.41902659e-02],
       [8.35946519e-01, 1.64053481e-01],
       [9.21656886e-01, 7.83431142e-02],
       [9.76545843e-01, 2.34541570e-02],
       [6.57490173e-01, 3.42509827e-01],
       [9.46916362e-01, 5.30836384e-02],
       [9.96776030e-01, 3.22397026e-03],
       [1.70189670e-01, 8.29810330e-01],
       [8.52963621e-01, 1.47036379e-01],
       [7.42248805e-01, 2.57751195e-01],
       [9.28512397e-01, 7.14876028e-02],
       [1.27254746e-01, 8.72745254e-01],
       [9.28120741e-01, 7.18792593e-02],
       [8.92191935e-01, 1.07808065e-01],
       [8.95651664e-01, 1.04348336e-01],
       [8.76651764e-01, 1.23348236e-01],
       [8.23022899e-01, 1.76977101e-01],
       [6.64283245e-01, 3.35716755e-01],
       [9.02898036e-01, 9.71019639e-02],
       [9.94139983e-01, 5.86001706e-03],
       [9.93556342e-01, 6.44365758e-03],
       [9.72195719e-01, 2.78042809e-02],
       [9.20192448e-01, 7.98075523e-02],
       [9.53917959e-01, 4.60820408e-02],
       [7.82512577e-01, 2.17487423e-01],
       [9.45181851e-01, 5.48181486e-02],
       [9.67864507e-01, 3.21354930e-02],
       [9.87392342e-01, 1.26076575e-02],
       [9.73505113e-01, 2.64948871e-02],
       [9.34481159e-01, 6.55188409e-02],
       [5.19774802e-01, 4.80225198e-01],
       [9.59189254e-01, 4.08107463e-02],
       [9.70611741e-01, 2.93882593e-02],
       [8.77786353e-01, 1.22213647e-01],
       [4.53154014e-01, 5.46845986e-01],
       [9.94417249e-01, 5.58275086e-03],
       [9.13441859e-01, 8.65581413e-02],
       [9.56177278e-01, 4.38227223e-02],
       [7.40510226e-01, 2.59489774e-01],
       [8.27054275e-01, 1.72945725e-01],
       [8.83325705e-01, 1.16674295e-01],
       [9.11878610e-01, 8.81213903e-02],
       [9.77695366e-01, 2.23046341e-02],
       [4.77150932e-02, 9.52284907e-01],
       [7.09784399e-01, 2.90215601e-01],
       [8.99229866e-01, 1.00770134e-01],
       [9.71787466e-01, 2.82125337e-02],
       [9.82870916e-01, 1.71290843e-02],
       [9.22765868e-01, 7.72341323e-02],
       [9.53678563e-01, 4.63214370e-02],
       [9.85990576e-01, 1.40094238e-02],
       [9.89538173e-01, 1.04618271e-02],
       [9.72184259e-01, 2.78157412e-02],
       [8.91989527e-01, 1.08010473e-01],
       [7.61972624e-01, 2.38027376e-01],
       [9.62003655e-01, 3.79963449e-02],
       [9.04967436e-01, 9.50325636e-02],
       [5.95554869e-01, 4.04445131e-01],
       [9.74425573e-01, 2.55744271e-02],
       [8.75175957e-01, 1.24824043e-01],
       [9.88886871e-01, 1.11131287e-02],
       [9.79251150e-01, 2.07488505e-02],
       [9.58491142e-01, 4.15088577e-02],
       [9.16561788e-01, 8.34382119e-02],
       [9.49628487e-01, 5.03715133e-02],
       [9.58606049e-01, 4.13939513e-02],
       [9.24111100e-01, 7.58889002e-02],
       [9.82352764e-01, 1.76472357e-02],
       [9.63193825e-01, 3.68061747e-02],
       [9.28271254e-01, 7.17287457e-02],
       [9.28330862e-01, 7.16691382e-02],
       [6.99556372e-01, 3.00443628e-01],
       [7.96145146e-01, 2.03854854e-01],
       [9.41096320e-01, 5.89036802e-02],
       [8.80842073e-01, 1.19157927e-01],
       [7.53393386e-01, 2.46606614e-01],
       [9.40018347e-01, 5.99816530e-02],
       [7.36393946e-01, 2.63606054e-01],
       [9.96184554e-01, 3.81544618e-03],
       [6.47223640e-01, 3.52776360e-01],
       [6.71291396e-01, 3.28708604e-01],
       [9.75290883e-01, 2.47091174e-02],
       [3.96525849e-01, 6.03474151e-01],
       [9.99062637e-01, 9.37362843e-04],
       [9.89488878e-01, 1.05111221e-02],
       [6.96073314e-01, 3.03926686e-01],
       [9.61954073e-01, 3.80459275e-02],
       [1.03635056e-01, 8.96364944e-01],
       [9.71502084e-01, 2.84979162e-02],
       [8.19761420e-01, 1.80238580e-01],
       [9.39425299e-01, 6.05747014e-02],
       [7.50656651e-01, 2.49343349e-01],
       [9.96179472e-01, 3.82052774e-03],
       [9.52572129e-01, 4.74278715e-02],
       [8.48643205e-01, 1.51356795e-01],
       [8.02780333e-01, 1.97219667e-01],
       [9.25866410e-01, 7.41335901e-02],
       [9.59568577e-01, 4.04314233e-02],
       [9.52785713e-01, 4.72142869e-02],
       [3.28024694e-01, 6.71975306e-01],
       [1.16257941e-01, 8.83742059e-01],
       [9.08650902e-01, 9.13490984e-02],
       [9.67337538e-01, 3.26624620e-02],
       [9.13954908e-01, 8.60450923e-02]])

In [37]:
metrics.accuracy_score(y_test,train_Pred)

0.9105691056910569

In [38]:
df1

      ID  Age  ...  EducationField_Other  EducationField_Technical Degree
0      1   27  ...                     0                                0
1      2   26  ...                     0                                0
2      3   50  ...                     0                                0
3      4   41  ...                     0                                0
4      5   28  ...                     0                                0
..   ...  ...  ...                   ...                              ...
235  236   59  ...                     0                                0
236  237   37  ...                     0                                0
237  238   37  ...                     0                                0
238  239   44  ...                     0                                0
239  240   28  ...                     0                                1

[240 rows x 57 columns]

In [39]:
test_df1 = sc.transform(df1)

In [40]:
test_prob1 = logreg.predict(test_df1)
test_prob1

array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1])

In [41]:
test_prob2 = logreg.predict_proba(test_df1)
test_prob2

array([[5.43628695e-01, 4.56371305e-01],
       [2.71542373e-01, 7.28457627e-01],
       [9.53019517e-01, 4.69804832e-02],
       [3.47345336e-01, 6.52654664e-01],
       [9.63390156e-01, 3.66098440e-02],
       [5.02206743e-01, 4.97793257e-01],
       [9.23947096e-01, 7.60529043e-02],
       [8.82792790e-01, 1.17207210e-01],
       [9.92745668e-01, 7.25433196e-03],
       [9.40922775e-01, 5.90772250e-02],
       [9.46076666e-01, 5.39233342e-02],
       [9.15683452e-01, 8.43165477e-02],
       [8.02401354e-01, 1.97598646e-01],
       [6.97275555e-01, 3.02724445e-01],
       [9.98137525e-01, 1.86247491e-03],
       [8.19294916e-01, 1.80705084e-01],
       [9.39777743e-01, 6.02222574e-02],
       [9.82761008e-01, 1.72389920e-02],
       [7.17220148e-01, 2.82779852e-01],
       [9.11575050e-01, 8.84249501e-02],
       [9.71441676e-01, 2.85583238e-02],
       [2.61983631e-01, 7.38016369e-01],
       [6.61005999e-01, 3.38994001e-01],
       [5.44479133e-01, 4.55520867e-01],
       [9.82044280e-01, 1.79557200e-02],
       [9.43416998e-01, 5.65830017e-02],
       [8.39388027e-01, 1.60611973e-01],
       [9.17007926e-01, 8.29920744e-02],
       [9.73589310e-01, 2.64106900e-02],
       [9.96446790e-01, 3.55320981e-03],
       [6.23970953e-01, 3.76029047e-01],
       [5.79858623e-01, 4.20141377e-01],
       [7.17684718e-01, 2.82315282e-01],
       [8.71679524e-01, 1.28320476e-01],
       [9.48744303e-01, 5.12556969e-02],
       [9.14274466e-01, 8.57255345e-02],
       [9.05412840e-01, 9.45871603e-02],
       [9.97362696e-01, 2.63730358e-03],
       [8.66774189e-01, 1.33225811e-01],
       [9.92418184e-01, 7.58181643e-03],
       [7.64300407e-01, 2.35699593e-01],
       [9.74078268e-01, 2.59217315e-02],
       [3.61905885e-01, 6.38094115e-01],
       [9.92736309e-01, 7.26369107e-03],
       [9.97822283e-01, 2.17771698e-03],
       [9.71359068e-01, 2.86409324e-02],
       [7.38454691e-01, 2.61545309e-01],
       [9.88315813e-01, 1.16841873e-02],
       [9.74755111e-01, 2.52448895e-02],
       [7.99392973e-01, 2.00607027e-01],
       [9.06235660e-01, 9.37643402e-02],
       [6.91542988e-01, 3.08457012e-01],
       [9.28510986e-01, 7.14890145e-02],
       [4.23027421e-01, 5.76972579e-01],
       [9.90716795e-01, 9.28320549e-03],
       [9.63846331e-01, 3.61536691e-02],
       [7.78013950e-01, 2.21986050e-01],
       [9.48754416e-01, 5.12455837e-02],
       [4.50607822e-01, 5.49392178e-01],
       [9.95376989e-01, 4.62301110e-03],
       [9.64158044e-01, 3.58419563e-02],
       [9.94255305e-01, 5.74469452e-03],
       [5.03762955e-01, 4.96237045e-01],
       [9.83522243e-01, 1.64777567e-02],
       [9.18150620e-01, 8.18493796e-02],
       [9.34422901e-01, 6.55770988e-02],
       [8.77914274e-01, 1.22085726e-01],
       [8.92376552e-01, 1.07623448e-01],
       [9.96108270e-01, 3.89173050e-03],
       [8.86777686e-01, 1.13222314e-01],
       [9.93566465e-01, 6.43353495e-03],
       [8.03480509e-01, 1.96519491e-01],
       [8.41299268e-01, 1.58700732e-01],
       [3.37005426e-01, 6.62994574e-01],
       [9.33383224e-01, 6.66167759e-02],
       [5.48846160e-01, 4.51153840e-01],
       [9.23523325e-01, 7.64766753e-02],
       [9.67403048e-01, 3.25969516e-02],
       [9.48295378e-01, 5.17046225e-02],
       [1.97739997e-01, 8.02260003e-01],
       [9.07725651e-01, 9.22743490e-02],
       [2.86790160e-01, 7.13209840e-01],
       [7.72682780e-01, 2.27317220e-01],
       [9.55640678e-01, 4.43593222e-02],
       [9.84475297e-01, 1.55247034e-02],
       [9.87842631e-01, 1.21573695e-02],
       [8.93229610e-01, 1.06770390e-01],
       [5.32793784e-01, 4.67206216e-01],
       [9.75759531e-01, 2.42404686e-02],
       [6.89081469e-01, 3.10918531e-01],
       [9.77449208e-01, 2.25507921e-02],
       [7.21786294e-01, 2.78213706e-01],
       [9.90119770e-01, 9.88022960e-03],
       [9.44004579e-01, 5.59954210e-02],
       [9.92538659e-01, 7.46134060e-03],
       [9.83800184e-01, 1.61998165e-02],
       [9.75787783e-01, 2.42122175e-02],
       [9.96602270e-01, 3.39772991e-03],
       [2.42202170e-01, 7.57797830e-01],
       [9.92198456e-01, 7.80154443e-03],
       [9.60996774e-01, 3.90032255e-02],
       [6.58164179e-01, 3.41835821e-01],
       [9.96076216e-01, 3.92378425e-03],
       [9.50853763e-01, 4.91462374e-02],
       [5.40287126e-01, 4.59712874e-01],
       [8.71575230e-01, 1.28424770e-01],
       [9.96054439e-01, 3.94556071e-03],
       [9.79168304e-01, 2.08316962e-02],
       [5.56853785e-01, 4.43146215e-01],
       [9.98735245e-01, 1.26475535e-03],
       [9.49250019e-01, 5.07499809e-02],
       [7.02048202e-01, 2.97951798e-01],
       [9.83672127e-01, 1.63278727e-02],
       [9.35868667e-01, 6.41313330e-02],
       [9.97908063e-01, 2.09193708e-03],
       [9.97229625e-01, 2.77037528e-03],
       [9.48394204e-01, 5.16057964e-02],
       [8.36459335e-01, 1.63540665e-01],
       [7.03008318e-01, 2.96991682e-01],
       [8.61774849e-01, 1.38225151e-01],
       [9.18593537e-01, 8.14064631e-02],
       [4.34750566e-01, 5.65249434e-01],
       [9.29884236e-01, 7.01157637e-02],
       [6.26346236e-01, 3.73653764e-01],
       [9.87622361e-01, 1.23776387e-02],
       [8.70976600e-01, 1.29023400e-01],
       [9.91029755e-01, 8.97024505e-03],
       [9.40561015e-01, 5.94389854e-02],
       [7.72527138e-01, 2.27472862e-01],
       [9.97861212e-01, 2.13878804e-03],
       [1.65712317e-01, 8.34287683e-01],
       [9.32629778e-01, 6.73702216e-02],
       [7.43376394e-01, 2.56623606e-01],
       [9.75470000e-01, 2.45299996e-02],
       [9.36005278e-01, 6.39947216e-02],
       [9.53998657e-01, 4.60013429e-02],
       [9.19674051e-01, 8.03259490e-02],
       [9.92952698e-01, 7.04730211e-03],
       [9.70113797e-01, 2.98862034e-02],
       [8.51198812e-01, 1.48801188e-01],
       [9.94224251e-01, 5.77574878e-03],
       [9.76885718e-01, 2.31142822e-02],
       [5.99409071e-01, 4.00590929e-01],
       [3.98561511e-01, 6.01438489e-01],
       [9.60496944e-01, 3.95030564e-02],
       [9.53882537e-01, 4.61174627e-02],
       [9.39088475e-01, 6.09115254e-02],
       [4.09493946e-01, 5.90506054e-01],
       [9.43475371e-01, 5.65246295e-02],
       [9.91589459e-01, 8.41054105e-03],
       [9.95708758e-01, 4.29124231e-03],
       [8.96881165e-01, 1.03118835e-01],
       [9.98890083e-01, 1.10991747e-03],
       [8.04867645e-01, 1.95132355e-01],
       [7.88106589e-01, 2.11893411e-01],
       [9.88244969e-01, 1.17550314e-02],
       [3.43586474e-01, 6.56413526e-01],
       [9.78074337e-01, 2.19256635e-02],
       [9.55122544e-01, 4.48774559e-02],
       [5.38166183e-01, 4.61833817e-01],
       [9.49275286e-01, 5.07247141e-02],
       [3.98577934e-01, 6.01422066e-01],
       [9.54859419e-01, 4.51405807e-02],
       [8.54266676e-01, 1.45733324e-01],
       [9.70177545e-01, 2.98224554e-02],
       [9.52083037e-01, 4.79169629e-02],
       [9.89479445e-01, 1.05205554e-02],
       [9.65341849e-01, 3.46581515e-02],
       [9.04796068e-01, 9.52039317e-02],
       [1.77623583e-01, 8.22376417e-01],
       [9.35898721e-01, 6.41012788e-02],
       [9.61735744e-01, 3.82642561e-02],
       [9.22290722e-01, 7.77092777e-02],
       [8.64710969e-01, 1.35289031e-01],
       [9.91175900e-01, 8.82409980e-03],
       [9.60413405e-01, 3.95865945e-02],
       [9.91500566e-01, 8.49943374e-03],
       [9.89962315e-01, 1.00376851e-02],
       [7.74974557e-01, 2.25025443e-01],
       [9.91679744e-01, 8.32025587e-03],
       [9.67394725e-01, 3.26052754e-02],
       [9.82359541e-01, 1.76404590e-02],
       [9.27360156e-01, 7.26398444e-02],
       [6.07014488e-01, 3.92985512e-01],
       [8.30286792e-01, 1.69713208e-01],
       [9.67788328e-01, 3.22116720e-02],
       [8.38000301e-01, 1.61999699e-01],
       [9.56860746e-01, 4.31392543e-02],
       [3.72142440e-01, 6.27857560e-01],
       [4.26971101e-01, 5.73028899e-01],
       [9.17573571e-01, 8.24264293e-02],
       [3.97487575e-01, 6.02512425e-01],
       [5.01254595e-01, 4.98745405e-01],
       [1.26015733e-01, 8.73984267e-01],
       [9.84316003e-01, 1.56839974e-02],
       [8.51076772e-01, 1.48923228e-01],
       [8.59479492e-01, 1.40520508e-01],
       [9.80637850e-01, 1.93621496e-02],
       [9.64249901e-01, 3.57500987e-02],
       [9.74034481e-01, 2.59655191e-02],
       [7.15319005e-01, 2.84680995e-01],
       [7.14553118e-01, 2.85446882e-01],
       [9.50868470e-01, 4.91315303e-02],
       [9.59806280e-01, 4.01937198e-02],
       [9.90900311e-01, 9.09968876e-03],
       [9.79692069e-01, 2.03079308e-02],
       [8.68306567e-01, 1.31693433e-01],
       [5.46326253e-01, 4.53673747e-01],
       [9.30489538e-01, 6.95104622e-02],
       [9.45230107e-01, 5.47698932e-02],
       [9.98491724e-01, 1.50827614e-03],
       [9.78229596e-01, 2.17704038e-02],
       [8.16490023e-01, 1.83509977e-01],
       [9.91192581e-01, 8.80741940e-03],
       [9.94825913e-01, 5.17408661e-03],
       [9.87810501e-01, 1.21894988e-02],
       [9.97810123e-01, 2.18987731e-03],
       [9.75548115e-01, 2.44518851e-02],
       [9.24475528e-01, 7.55244717e-02],
       [9.38364933e-01, 6.16350672e-02],
       [8.36486708e-01, 1.63513292e-01],
       [9.99426673e-01, 5.73327199e-04],
       [8.81261975e-01, 1.18738025e-01],
       [9.71382610e-01, 2.86173896e-02],
       [9.52266996e-01, 4.77330040e-02],
       [9.71251648e-01, 2.87483522e-02],
       [8.86172334e-01, 1.13827666e-01],
       [9.74643036e-01, 2.53569643e-02],
       [5.84637922e-01, 4.15362078e-01],
       [9.97054897e-01, 2.94510327e-03],
       [6.99853369e-01, 3.00146631e-01],
       [1.57474904e-01, 8.42525096e-01],
       [5.62129049e-01, 4.37870951e-01],
       [9.86669467e-01, 1.33305333e-02],
       [9.77523018e-01, 2.24769820e-02],
       [6.49108094e-01, 3.50891906e-01],
       [9.56870932e-01, 4.31290680e-02],
       [9.95674362e-01, 4.32563835e-03],
       [9.14271035e-01, 8.57289648e-02],
       [2.24231122e-01, 7.75768878e-01]])

# **Random Forest Regressor**

In [42]:
y1 =df["YearsAtCompany"]

In [47]:
from sklearn.ensemble import RandomForestRegressor
x1_train, x1_test, y1_train, y1_test = train_test_split(x, y1, test_size=0.2, random_state=12)
X_train_std = sc.fit_transform(x1_train)
X_test_std = sc.transform(x1_test)

In [48]:
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train_std, y1_train)
randomForest_pred = regressor.predict(X_test_std)

In [49]:
randomForest_acc = metrics.r2_score(y1_test, randomForest_pred)
randomForest_acc

0.896942212238687

In [50]:
randomForest_pred_df1 = regressor.predict(df1)
randomForest_pred_df1

array([24.8 , 12.35, 18.95, 18.7 , 19.  , 10.1 , 18.85, 19.2 , 25.95,
       18.9 , 22.45, 17.1 , 23.95,  5.5 , 26.05, 26.  , 24.3 , 18.8 ,
       18.55, 18.9 , 18.9 , 18.45,  5.45, 13.  ,  5.45, 18.9 , 18.8 ,
       19.1 , 16.75, 18.9 , 19.1 ,  5.5 ,  5.45, 24.3 , 23.8 , 10.35,
       18.45, 18.8 , 18.35, 18.95, 26.05, 26.1 , 26.85, 25.95, 24.1 ,
        5.5 , 18.7 ,  5.5 ,  5.5 , 18.65, 25.85, 12.4 , 18.65, 24.3 ,
       18.6 ,  5.45, 26.  , 26.  , 18.95, 25.95, 18.95, 19.  , 26.05,
       18.55, 26.05,  5.45, 25.85, 23.7 , 26.05, 24.3 , 25.8 ,  5.4 ,
       25.8 , 25.9 , 18.65, 18.9 ,  5.5 , 23.85, 12.95, 18.8 , 26.05,
       12.85, 24.2 , 25.95, 18.95,  5.55, 18.4 , 18.6 , 25.95, 26.05,
       25.95, 18.8 , 18.8 , 16.75, 18.45, 12.45, 18.95, 18.9 , 12.45,
       26.05, 18.45, 26.05, 23.9 , 18.75, 18.8 , 17.75, 25.95,  5.5 ,
       19.1 , 18.55, 26.  , 18.4 , 18.8 , 18.8 , 12.3 , 19.05, 26.1 ,
       18.6 , 18.95, 18.5 , 24.3 ,  5.45, 23.75, 26.1 , 18.75,  5.5 ,
       26.1 , 26.05,  5.5 , 19.05,  5.45, 10.05, 26.1 , 25.1 , 17.9 ,
       18.75, 26.  , 18.85, 25.95, 24.35, 18.65, 18.45,  5.45,  5.45,
       25.95, 25.8 , 18.4 , 18.95, 19.1 , 25.9 , 18.9 , 18.4 , 26.05,
       26.  , 25.85, 25.85, 23.95, 23.9 , 19.1 , 18.95, 18.8 ,  5.45,
       26.5 , 18.7 , 26.1 ,  5.5 , 26.1 , 18.95,  5.4 ,  5.5 , 19.1 ,
       25.95,  5.45, 18.45, 26.  ,  5.5 , 18.95, 23.9 , 18.75, 25.95,
       18.9 , 25.95, 10.7 , 13.  , 25.95, 18.95,  5.45,  5.5 , 18.95,
       17.15, 18.8 , 26.1 , 15.65, 26.05, 18.45, 18.6 , 23.2 , 18.5 ,
       25.9 , 18.9 , 24.15, 19.  , 18.45, 18.6 , 18.65,  5.5 , 18.6 ,
       19.15, 18.65, 26.  , 24.  , 19.1 , 25.95, 18.5 , 18.9 , 18.65,
       18.65,  5.5 , 18.85, 25.95, 19.05, 24.  , 18.65, 18.3 , 13.05,
       18.65, 26.05, 22.45, 18.85, 18.95, 23.2 ,  5.45, 18.75, 18.95,
       25.95,  5.45, 18.6 ,  5.5 , 18.75, 22.45])

# **Convert to CSV**

In [51]:
dict1={"Attrition":test_prob2[:,1], "YearsAtCompany": randomForest_pred_df1}

In [52]:
result=pd.DataFrame.from_dict(dict1)
result

     Attrition  YearsAtCompany
0     0.456371           24.80
1     0.728458           12.35
2     0.046980           18.95
3     0.652655           18.70
4     0.036610           19.00
..         ...             ...
235   0.350892            5.45
236   0.043129           18.60
237   0.004326            5.50
238   0.085729           18.75
239   0.775769           22.45

[240 rows x 2 columns]

In [54]:
len(result)

240

In [57]:
result = result.rename_axis("ID", axis="columns")
result.index = [x for x in range(1, len(result)+1)]
result

ID   Attrition  YearsAtCompany
1     0.456371           24.80
2     0.728458           12.35
3     0.046980           18.95
4     0.652655           18.70
5     0.036610           19.00
..         ...             ...
236   0.350892            5.45
237   0.043129           18.60
238   0.004326            5.50
239   0.085729           18.75
240   0.775769           22.45

[240 rows x 2 columns]

In [58]:
result.to_csv("output10.csv")